###
### Example of simple xrootd config file.
###
### The first part enables a simple data server exposing to clients
### the root paths /tmp and /data1.
### The second part shows how to enable password-based strong
### authentication using the ROOT special password in $HOME/.rootdpass
###
### To load this configuration file:
###
### ~> xrootd -c $ROOTSYS/etc/proof/xpd.cf
###
### See http://www.slac.stanford.edu/xrootd for more details on the
### data serving part.
###

###
### Part one: data serving
###
xrd.protocol xrootd *
xrootd.fslib libXrdOfs.so

### Specify a non-default port here:
###  - overwritten by -p <port> on the command line
# xrd.port 5151

### Export path directives, i.e. the root paths which can accessed
### by clients ('xrootd.export /' exports the whole file system).
### An arbitrary number of these can be defined. The default is
### to export /tmp.
### NB: specifying any of these directives removes the default /tmp
###     from the internal list; in such a case a directive needs to
###     be given explicitly if /tmp needs to be exposed.
xrootd.export /tmp
xrootd.export /pool/data

###
### Part two: security directives:
###

### Example: enable password-based strong authentication checking
### also the special ROOT password in $HOME/.rootdpass.
### NB: if the application complains about a missing password file in
###    $HOME/.xrd/ just create an empty one running 'xrdpwdadmin' and
###    replying to the questions
###    (<ROOT_sys> with the path to the ROOT distribution)
# xrootd.seclib <ROOT_sys>/lib/libXrdSec.so
# sec.protocol pwd -d:0 -a:1 -vc:1 -upwd:2 -cryptfile:.rootdpass
